<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|쿠폰 상세: ${coupon.couponId}|">쿠폰 상세</title>
    <th:block th:replace="~{fragments/layout :: cssjs}"/>
</head>
<body>

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container">
    <h2>쿠폰 상세</h2>

    <table class="table">
        <tbody>
        <tr>
            <td>쿠폰번호</td>
            <td th:text="${coupon.couponId}"></td>
        </tr>
        <tr>
            <td>상태</td>
            <td th:text="#{${coupon.state}}"></td>
        </tr>
        <tr>
            <td>발급일자</td>
            <td th:text="#{${coupon.getIssuedDate()}}"></td>
        </tr>
        <tr>
            <td>할인율</td>
            <td th:text="${coupon.getDetails().getDiscountPolicy()}"></td>
        </tr>
        <tr>
            <td>만료기간</td>
            <td th:text="${coupon.getDetails().getDuringDate()}"></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="/home" role="button">첫 화면으로 이동하기</a>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>


</body>
</html>