<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로모션 상세</title>
    <th:block th:replace="~{fragments/layout :: cssjs}"/>
    <input type="hidden" id = "promotionId"  th:value="${promotion.getPromotionId()}">
</head>
<body>

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-body">
                    <h5 class="card-title" th:text="${promotion.title}">타이틀</h5>
                    </h5>
                    <p class="card-text">
                        아이디:<span th:text="${promotion.promotionId}"></span>
                        <br>
                        상세 : <span th:text="${promotion.context}"></span>
                        <br>
                        할인률 : <span th:text="${promotion.discountPolicy}"></span>
                        <br>
                        기간 : <span th:text="|${promotion.getPeriod().getStartDate()}  ${promotion.getPeriod().getEndDate()}|"></span>
                        <br>
                        <br>
                        수량 : <span th:text="${promotion.quantity}"></span>
                        <br>
                        잔여 수량 : <span th:text="${stock}"></span>
                    </p>
                    <button type="button" class="btn btn-primary" id="joinPromotion">쿠폰발급</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>

<script th:inline="javascript">
    document.querySelector("#joinPromotion").addEventListener("click", (e) =>{
        const pId = document.querySelector("#promotionId").value;
        const mId = document.querySelector("#memberId").value;

        fetch(`/coupons`, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json; charset=UTF-8",
            },
            body: JSON.stringify({
                memberId: mId,
                promotionId: pId,
            }),
        }).then((response) => response.json())
            .then((data) => {
                alert(data.result);
            })
            .catch(error => {
                alert("요청실패");
                console.log(error);
            });
    });
</script>
</body>
</html>