<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로모션 목록</title>
    <th:block th:replace="~{fragments/layout :: cssjs}"/>
</head>
<body>

<div th:replace="~{fragments/layout :: header}"></div>

<div class="container">

    <span th:if="${promotions.content.isEmpty()}">진행중인 프로모션이 없습니다.</span>

    <div class="card mb-3" style="max-width: 540px;" th:each="promotion: ${promotions.getContent()}">
        <div class="row g-0">
            <div class="col-md-4">
                <a th:href="@{/promotions/{id}(id=${promotion.promotionId})}">
                    <img class="img-fluid rounded-start" th:src="pen.jpg" src=""
                         th:alt="${promotion.title}">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${promotion.title}">제목</h5>
                    <p class="card-text">기간 : [[${promotion.period.startDate}]]</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/layout :: footer}"></div>

</body>
</html>
